<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Mamuistore</title>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
<link href="css/mamui.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/selectordie.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
            	<div class="topHeader">
            		<h1><a href="#" id="logo">Mamui Store</a></h1>
 		       	</div>
                <div class="navBox">
        	    	<div class="filterBox">
                    	<ul>
                        	<li>
                            	<div class="filterTag">
                        	<select>
                            	<option>All</option>
                                <option>Promo</option>
                                <option>Hot</option>
                            </select>
                        </div>
                            </li>
                            <li>
                       			<div class="filterCat">
                        	<select>
                            	<option>All</option>
                                <option>Popular Stickers</option>
                                <option>Creator Stickers</option>
                                <option>Themes</option>
                            </select>
                        </div>
                        	</li>
                            <li>
                            	<div class="filterSort">
                        	<select>
                            	<option>All</option>
                                <option>Harga Termurah</option>
                                <option>Harga Termahal</option>
                                <option>Abjad (A-Z)</option>
                                <option>Abjad (Z-A)</option>
                            </select>
                        </div>
                            </li>
                        </ul>
                    </div>
                    <div class="searchBox">
                    	<input type="text" placeholder="Cari stickers atau themes">
                    </div>	
            	</div>
            </div>
        </header>
        <section>
        	<div class="container">
            	<div class="stickerWrapper">
                	<ul>
                    	<li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="stickerBox">
                            	<div class="stickerImage">
                                	<span class="mamui">Line ID: mamuistore</span>
                                	<a href="#" onClick="show_sticker(); return false;"><img src="../userdata/a.png"></a>
                                </div>
                                <div class="stickerInfo">
                                	<h2><a href="#" onClick="show_sticker(); return false;">Crayon Sinchan</a></h2>
                                    <span class="codeId">jp_001</span>
                                    <span class="normalPrice">Rp. 20.000,-</span>
                                    <a href="#" class="defBtn" onClick="show_sticker(); return false;">Detail</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="paging">
                	<ul>
                    	<li><a href="#">&lt;&lt;</a></li>
                        <li><a href="#">&lt;</a></li>
                        <li><a href="#" class="selected">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                        <li><a href="#">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
        	<div class="thankstoBox">
            	<h3>Thanks to:</h3>
                <ul>
                	<li><a href="http://line.me/en/" target="_blank"><img style="width:80px;" src="images/line.png"></a></li>
                    <li><a href="https://store.line.me/home/en" target="_blank"><img src="images/linestore.png"></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.linecorp.lineat.android&hl=en" target="_blank"><img style="" src="images/lineat.png"></a></li>
                </ul>
            </div>
            <div class="footerBox">
            	Copyright &copy; 2015 mamuistore.com. All Rights Reserved.
            </div>
        </footer>
    </div>
    <div class="popupWrapper">
    	<div class="overlay" onClick="hide_popup();"></div>
        <div class="popupContainer">
            <div class="popupBox">
                <div class="popupContent">
                	<div class="infoSticker">
                    	<div class="stickerImageDet">
                        	<img src="../userdata/a.png">
                        </div>
                    	<div class="stickerDesc">
                            <h3>waroo</h3>
                            <h2>Crayon SinchanCrayon SinchanCrayon Sinchan</h2>
                            <span class="normalPrice">Rp. 20.000,-</span>
                            <span class="expired">No Expiration Date</span>
                        </div>
                        <div class="infoMamui">
                            	<span>Line ID: mamuistore</span>
                            	<span>Line@: @ucrxxx</span>
                            	<span>Instagram: www.instagram.com/mamuistore</span>
                        	</div>
                    </div>
                    <img src="../userdata/b.png">
                </div>
                <a href="#" class="closeBtn" onClick="hide_popup();return false;">X</a>
            </div>
        </div>
    </div>
</body>
</html>
